.contenedor-padre{
    width: 100%;
    height: 100%;
    background-color: #400b41;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
}

.contenedor-random{
    background-color: #400b41; 
   justify-content: center;
    align-content: center;
    align-items: center;
  
}
.cargando {
    position: absolute;
    font-size: 18px;
    color:#ffff;
    animation: girar 3s linear forwards;
   justify-items: center;
    background-color: rgb(161, 70, 131);
    border-radius: 100px;
    height: 100px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 10px 2px gray;
       
}

@keyframes girar {
    0% { transform: rotate(0deg); opacity: 1; }
    50% { transform: rotate(180deg); opacity: 1; }
    100% { transform: rotate(360deg); opacity: 0; }
}

.imagen-random{

    height: 40px;
    margin-top: 50px;

}
.random-up{
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}
.up-random{
    width: 60px;
    height: 60px;
    background-color: dimgrey;
   
    align-content: center;
    justify-content: center;
    margin-top: 150px;
    border-radius: 12px;
    color: #fff;
    font-size: 30px;
}
.h1-random{
    font-size: 40px;
    font-weight:bold;
   
}
.texto-random-uno , .texto-random-dos{
    font-size: 20px;
    color: rgb(99, 93, 93);
    font-weight: 100;
 }
.link-random{
    color: blue;
    
}


@media (max-width: 320px) {
    .cargando{
        display: none;
    }
   .contenedor-padre{
    margin-right: -60%;
    padding: 0;
   }
.random-up{
    margin-top: -70px;
}
    .contenedor-random {
        width: 100%; 
        margin-left: -60%;
     
    }

    .imagen-random {
        height: 30px; 
      
        margin-top: 20px; 
    }

    .up-random {
        width: 50px; 
        height: 50px; 
       
        margin-top: 100px; 
        font-size: 24px; 
       
    }

    .h1-random {
        font-size: 24px; 
        
        text-align: center; 
    }

    .texto-random-uno,
    .texto-random-dos {
        font-size: 16px; 
      
        text-align: center; 
    }

    .link-random {
        
        text-align: center;
        display: block; 
        margin-top: 10px; 
    }
}