main{
    max-width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;

}


.contenedor-init{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    margin-top: 10px;
}
.div-home{
    height: 750px;
}
.lateral-app{
    height: 80%;
     ;
}
.centro {
    display: flex;
    flex-direction: row; 

    width: 100vw; 
    height: 760px;
    }

.canales-app {
 
   width: 25%;
   height: 95%;
}

.chat-principal {
    
   width: 73%;
    justify-content: center;
    justify-items: center;
    height: 95%;
    position: relative;
    
   
}
.ultimo{
    overflow-y: auto;
}

.chat-ppal {
    margin-top: 225px;
    display: flex;
    justify-content: center; 
    width: 98%;
    height: 600px;
    
}


@media (max-width: 320px) {

    .main{
        width: 320px;
    }
        
    .contenedor-init{
    
        display: flex;
        flex-direction: row;
        gap:150px;
       
    }}
    

    @media (max-width: 320px) {
        .centro {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            }
    
        .canales-app {
            width: 90%; 
            margin-bottom: 10px; 
        }
    
        .chat-principal {
            width: 90%; 
            margin-top: 10px; 
            justify-content: center;
            justify-items: center;
        }
    
        .chat-ppal {
            display: flex;
            justify-content: center; 
            margin-bottom: 10px; 
        }
    
        

        
        
    }