@import './Normalize/normalize.css';
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #400b41;
    max-width: 100%;
    display: flex;
    }

body{
    width: 100%;
    padding: 0%;
}

.navegador-home-page{
    display: flex;
    max-width: 100%;
}
.div-home{
    display: flex;
    flex-direction: row;
  margin-top: 2px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;

}
.lateral-app{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color:#400b41;
    width: 70px;
    margin-top: 0;
}

.centro{
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
   
   
}
.canales-app{
    display: flex;
    flex-direction: column;
    width: 325px;
    background-color: #744676;
    border-radius: 10px;
      
}
.chat-principal{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffff;
    color: black;
    width: 940px;
    border-radius: 10px;
    
}
.chat-ppal{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

@media (max-width: 320px) {
    
        
    
    .div-centro{
        width: 320px;

    }
    .lateral-app{
        display: none;
    }.centro{
        width: 100%;
    } .canales-app, .chat-principal{
        width: 320px;
    }
}
    

    